body{
    background-color:  #FFFFFF;
    font-family: Optima, sans-serif;
    margin-top:0;
}
header{
    width: 100%;
    height: 70px;

}
#title{
    background-color:	#FFEFD5;
    font-family: 'Righteous', cursive;
    padding-top: 1%;
    padding-bottom: 1%;
}

#list{
    width: 55%;
    height: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.inputText{
    background-color:#FFFFFF;
    width: 80%;
    min-height: 150px;
    max-height: 300px;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
#buttonStart{
    width: 6%;
    height: 30px;
    border-radius: 15px;
    font-family: 'Raleway', sans-serif;

}
.button {
    padding: 1%;
    margin-top: 1%;
    margin-right:18%;
    margin-bottom:2%;
    width: 20%;
    height: 30px;
    background-color:	#FFFFFF;
    padding-bottom: 2%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    float:right;
    }
#offset{
    width: 15%;
    height: 25px;
    font-family: 'Open Sans', sans-serif;
}
footer
{
    width:100%;
    height:8%;
    bottom: 0;
    background-color:	#FFEFD5;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    position: fixed; 
}
